### This notebook is to generate df of Positions, that is resulted in our strategy

In [1]:
import pandas as pd
from math import sqrt
import math

import requests
import json
import numpy as np

import UNI_v3_funcs as liq_amounts
import load_data
import collections

In [2]:
pip3 install pandas

SyntaxError: invalid syntax (3029356636.py, line 1)

### Query Functions

In [3]:
def get_cprice_tick_at_mint(token0, token1, feeTier, mint_time, decimal0, decimal1):
    
    # get token_ids
    token0_id = load_data.get_token_id(token0)
    token1_id = load_data.get_token_id(token1)
    pool_id = load_data.get_pool_id(token0_id, token1_id, feeTier)
        
    # query price at that specific time
    query_ = """
    {{
      poolHourDatas(first:1,
      where:{{ pool: "{}",
      periodStartUnix: {} }}
      ){{
        tick
      }}
    }}""".format(pool_id, mint_time)
    print(query_)
    
    query_result_ = load_data.run_query(query_)
    json_data_ = json.loads(query_result_.text)
    
    ctick = int(json_data_['data']['poolHourDatas'][0]['tick'])
    cprice = tick_to_price(ctick,decimal0, decimal1)
    
    return cprice, ctick

def get_decimals(token_symbol):
    query_ = """
    {{
      tokens(first:10,
      where:{{ symbol: "{}"}}
      ){{
        decimals
      }}
    }}""".format(token_symbol)
    
    query_result_ = load_data.run_query(query_)
    json_data_ = json.loads(query_result_.text)
    decimal_ = float(json_data_['data']['tokens'][0]['decimals'])
    
    return decimal_

In [101]:
tick_to_price(-41563 ,DECIMAL0, DECIMAL1)

1.566866847891531e-14

### Calculations Functions

In [4]:
def price_to_tick(price_, decimal0_, decimal1_):
    # convert price (token1 by token0) to tick
#     tick_ = math.floor(math.log(sqrt(price_), math.sqrt(1.0001)))
    tick_ = math.floor( math.log(price_*10**(decimal1_-decimal0_), 1.0001) )
    return tick_

def tick_to_price(tick_,decimal0_, decimal1_):
    price_ = (1.0001**tick_/10**(decimal1_-decimal0_))
#     price_ = 1.0001**tick_
    return price_

In [5]:
# L_you calculation / inRange
# 4B. JNP: Use 'get_liquidity' function to calculate liquidity as a function of amounts and price range
def get_liquidity0(sqrtA,sqrtB,amount0,decimals):
    
    if (sqrtA > sqrtB):
          (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount0/((2**96*(sqrtB-sqrtA)/sqrtB/sqrtA)/10**decimals)
    return liquidity

def get_liquidity1(sqrtA,sqrtB,amount1,decimals):
    
    if (sqrtA > sqrtB):
        (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount1/((sqrtB-sqrtA)/2**96/10**decimals)
    return liquidity

def get_liquidity(tick,tickA,tickB,amount0,amount1,decimal0,decimal1):
    
        sqrt=(1.0001**(tick/2)*(2**96))
        sqrtA=(1.0001**(tickA/2)*(2**96))
        sqrtB=(1.0001**(tickB/2)*(2**96))
        if (sqrtA > sqrtB):
            (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
        if sqrt<=sqrtA:
            
            liquidity0=get_liquidity0(sqrtA,sqrtB,amount0,decimal0)
            inRange = False
            return liquidity0, inRange
        elif sqrt<sqrtB and sqrt>sqrtA:

            liquidity0=get_liquidity0(sqrt,sqrtB,amount0,decimal0)
            liquidity1=get_liquidity1(sqrtA,sqrt,amount1,decimal1)
            
            liquidity=liquidity0 if liquidity0<liquidity1 else liquidity1
            inRange = True
            return liquidity, inRange
        
        else:
            liquidity1=get_liquidity1(sqrtA,sqrtB,amount1,decimal1)
            inRange = False
            return liquidity1, inRange

In [6]:
# Calculate Fees 
def get_fees(lower_tick_, upper_tick_, ctick_,  L_Pool_, swap_Volume_, amount0_p, amount1_p, amt0_, amt1_, decimal0_, decimal1_, feeTier, mint_tick):
    # (lower_tick_, upper_tick_) from df_positions
    # (ctick, L_Pool, swap_volume, amount0_p, amount1_p) from df_merged
    # (amt0, amt1) - this changes based on swaps, but doesnt matter, bacause liquidity always constant
    # (decimal0, decimal1, feetier, mint_tick) - fixeds
    
    # Ver. fixed liquidity ------------------------
    mint_liquidity = liq_amounts.get_liquidity(mint_tick, lower_tick_,upper_tick_, amt0_, amt1_, decimal0_, decimal1_)
    N_amt0, N_amt1 = liq_amounts.get_amounts(ctick_, lower_tick_, upper_tick_, mint_liquidity, decimal0_, decimal1_)
    L_you_ = liq_amounts.get_liquidity(ctick_, lower_tick_,upper_tick_, N_amt0, N_amt1, decimal0_, decimal1_)
    
    # redudant, L_you_ always fixed in this case, L_you_ = mint_liquidity
    
    # Ver. varied liquidity ------------------------
    L_you_old, inRange_ = get_liquidity(ctick_, lower_tick_, upper_tick_, amt0_, amt1_, decimal0_, decimal1_)
#     _, inRange_ = get_liquidity(ctick_, lower_tick_,upper_tick_, amt0_, amt1_, decimal0_, decimal1_)
    # -------------------------------
    
    if inRange_:
        pool_share_ = (L_you_/L_Pool_)
        pool_fee_rate_ = float(feeTier) / 10000
        fees_0 = pool_share_ * amount0_p * pool_fee_rate_ / 100
        fees_1 = pool_share_ * amount1_p * pool_fee_rate_ / 100
    else:
        fees_0 = 0
        fees_1 = 0

    return fees_0, fees_1

In [37]:
def get_liquidity(tick,tickA,tickB,amount0,amount1,decimal0,decimal1):
    
        sqrt=(1.0001**(tick/2)*(2**96))
        sqrtA=(1.0001**(tickA/2)*(2**96))
        sqrtB=(1.0001**(tickB/2)*(2**96))
        if (sqrtA > sqrtB):
            (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
        if sqrt<=sqrtA:
            
            liquidity0=get_liquidity0(sqrtA,sqrtB,amount0,decimal0)
            inRange = False
            return liquidity0, inRange
        elif sqrt<sqrtB and sqrt>sqrtA:

            liquidity0=get_liquidity0(sqrt,sqrtB,amount0,decimal0)
            liquidity1=get_liquidity1(sqrtA,sqrt,amount1,decimal1)
            
            liquidity=liquidity0 if liquidity0<liquidity1 else liquidity1
            inRange = True
            return liquidity, inRange
        
        else:
            liquidity1=get_liquidity1(sqrtA,sqrtB,amount1,decimal1)
            inRange = False
            return liquidity1, inRange
        
print(get_liquidity(41351, 69081, 69091, 1000, 1, 0, 0))
print(get_liquidity(41351, 59081, 59091, 1000.5, 1, 0, 0))

(63264507.2265903, False)
(38392008.96045258, False)

In [7]:
# Step 4: use JNP's code
def get_impermanent_loss():
    return IL

In [8]:
# Step 4
def get_PNL():
    return pnl

In [9]:
# Step 5
def get_cost():
    return cost

### Positions Genrations

In [22]:
df_merged

,Unnamed: 0,Unnamed: 0.1,close,feeGrowthGlobal0X128,feeGrowthGlobal1X128,feesUSD,high,liquidity,low,open,...,pool.token0.symbol,pool.token1.symbol,amount0,amount1,amount0_p,amount0_n,amount1_p,amount1_n,amountUSD,swaps_txCount
0,2139,2139,3371.050772,0,127510492160377860903322733723813,0,3371.050772,222633640125805970242,0.000000,0.000000,...,DAI,WETH,-33.854156,1.000000e-02,0.000000,-33.854156,1.000000e-02,0.000000,0.000000,1.0
1,2138,2138,3371.050602,0,127510936560969447327942820076732,0,3371.050602,229713263233648638236,3371.050602,3371.050602,...,DAI,WETH,-0.000336,1.000000e-07,0.000000,-0.000336,1.000000e-07,0.000000,0.000000,1.0
2,2137,2137,3371.050602,0,127510936560969447327942820076732,0,3371.050602,232295550235364197007,3371.050602,3371.050602,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2136,2136,3371.050602,0,127510936560969447327942820076732,0,3371.050602,379427976363351507096,3371.050602,3371.050602,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2135,2135,3270.498157,0,127510936560969447327942820076732,0,3371.050602,379427976363351507096,3270.498157,3371.050602,...,DAI,WETH,-331.043259,1.000000e-01,0.000000,-331.043259,1.000000e-01,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,4,4,2593.585043,776968668977177358387607138098571791495,309438643325163112370527963213372068,0,2593.585043,3462780666963265022195495,2570.614474,2570.614474,...,DAI,WETH,194033.308783,-7.470017e+01,218425.038876,-24391.730093,9.509439e+00,-84.209613,242804.419226,11.0
2136,3,3,2593.585043,776978292203169980225606163848602905664,309438643325163112370527963213372068,0,2593.585043,3462780666963265022195495,2593.585043,2593.585043,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137,2,2,2588.330996,777027753133678150409983803188748783394,309490999796475164960964115559844674,0,2591.982090,575350605560595522715979,2580.129794,2591.982090,...,DAI,WETH,-116868.820672,4.533601e+01,46549.975295,-163418.795967,6.329509e+01,-17.959074,210255.215380,13.0
2138,1,1,2583.740595,777208523032394553427914048177218497946,309574227351200615371422895252255042,0,2588.338457,575350605560595522715979,2567.063155,2588.338457,...,DAI,WETH,-25682.970182,1.018240e+01,94960.184604,-120643.154786,4.694395e+01,-36.761544,215901.771622,10.0
2139,0,0,2585.328372,777244598619414844738389845106157135322,309574227351200615371422895252255042,0,2585.328372,575350605560595522715979,2584.643110,2584.643110,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### PNL Wrapper code

In [23]:

mint_liquidity = liq_amounts.get_liquidity(mint_tick, lower_tick_,upper_tick_, amt0_, amt1_, decimal0_, decimal1_)

NameError: name 'mint_tick' is not defined

### Main

In [12]:
# STEP 0:  PROVIDE BY USERS
UPPER = 1/1844.6164  # token1 per token0 (in terms of price)
LOWER = 1/2858.3641  # 1/2376.6075 
FEETIER = '3000' # 0.3 = 3000/10000
TOKEN0 = 'USDC'
TOKEN1 = 'WETH'
MINT_TIME = 1622390400 # needs to start with the hour (unixTime % 3600 = 0) 
BURN_TIME = 1627578000 # 1627578000 # 1625936400 # 
# May 30 - July 30 / 11

In [13]:
# Get required constants
DECIMAL0 = get_decimals(TOKEN0)
DECIMAL1 = get_decimals(TOKEN1)
print(DECIMAL0, DECIMAL1)

6.0 18.0

In [14]:
MINT_PRICE, MINT_TICK = get_cprice_tick_at_mint(TOKEN0, TOKEN1, FEETIER, MINT_TIME, DECIMAL0, DECIMAL1)
print(MINT_PRICE, 1/MINT_PRICE)
print(MINT_TICK)

get_token_id: USDC
{'data': {'tokens': [{'id': '0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48', 'name': 'USD Coin', 'symbol': 'USDC'}]}}

get_token_id: WETH
{'data': {'tokens': [{'id': '0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2', 'name': 'Wrapped Ether', 'symbol': 'WETH'}]}}

 get_pool_id for feeTier: 3000
{'data': {'pools': [{'feeTier': '3000', 'id': '0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8', 'token0': {'symbol': 'USDC'}, 'token1': {'symbol': 'WETH'}}]}}

    {
      poolHourDatas(first:1,
      where:{ pool: "0x8ad599c3a0ff1de082011efddc58f1908eb6e6d8",
      periodStartUnix: 1622390400 }
      ){
        tick
      }
    }
0.0004165877310455854 2400.4547553287744
198486

In [15]:
# STEP 1 (TODO): CALCULATED BY ALGORITHM, JNP's amounts_relation ?
# THIS CHANGES over time when swaps happens, and we need this to calculate IL
MINT_AMT0 = 252208.7053
MINT_AMT1 = 99.0604

In [16]:
# 1.0001**198486

In [17]:
# Get DF_Merged (accumulated swaps data)
df_merged = pd.read_csv('../data/df_merged_tmp_USDC-WETH-3000-timestamp-1627909200-1620158400.csv')
# df_merged = load_data.get_data(TOKEN0, TOKEN1, FEETIER)

In [103]:
df_merged

,Unnamed: 0,Unnamed: 0.1,close,feeGrowthGlobal0X128,feeGrowthGlobal1X128,feesUSD,high,liquidity,low,open,...,pool.token0.symbol,pool.token1.symbol,amount0,amount1,amount0_p,amount0_n,amount1_p,amount1_n,amountUSD,swaps_txCount
0,2139,2139,3371.050772,0,127510492160377860903322733723813,0,3371.050772,222633640125805970242,0.000000,0.000000,...,DAI,WETH,-33.854156,1.000000e-02,0.000000,-33.854156,1.000000e-02,0.000000,0.000000,1.0
1,2138,2138,3371.050602,0,127510936560969447327942820076732,0,3371.050602,229713263233648638236,3371.050602,3371.050602,...,DAI,WETH,-0.000336,1.000000e-07,0.000000,-0.000336,1.000000e-07,0.000000,0.000000,1.0
2,2137,2137,3371.050602,0,127510936560969447327942820076732,0,3371.050602,232295550235364197007,3371.050602,3371.050602,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2136,2136,3371.050602,0,127510936560969447327942820076732,0,3371.050602,379427976363351507096,3371.050602,3371.050602,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2135,2135,3270.498157,0,127510936560969447327942820076732,0,3371.050602,379427976363351507096,3270.498157,3371.050602,...,DAI,WETH,-331.043259,1.000000e-01,0.000000,-331.043259,1.000000e-01,0.000000,0.000000,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,4,4,2593.585043,776968668977177358387607138098571791495,309438643325163112370527963213372068,0,2593.585043,3462780666963265022195495,2570.614474,2570.614474,...,DAI,WETH,194033.308783,-7.470017e+01,218425.038876,-24391.730093,9.509439e+00,-84.209613,242804.419226,11.0
2136,3,3,2593.585043,776978292203169980225606163848602905664,309438643325163112370527963213372068,0,2593.585043,3462780666963265022195495,2593.585043,2593.585043,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2137,2,2,2588.330996,777027753133678150409983803188748783394,309490999796475164960964115559844674,0,2591.982090,575350605560595522715979,2580.129794,2591.982090,...,DAI,WETH,-116868.820672,4.533601e+01,46549.975295,-163418.795967,6.329509e+01,-17.959074,210255.215380,13.0
2138,1,1,2583.740595,777208523032394553427914048177218497946,309574227351200615371422895252255042,0,2588.338457,575350605560595522715979,2567.063155,2588.338457,...,DAI,WETH,-25682.970182,1.018240e+01,94960.184604,-120643.154786,4.694395e+01,-36.761544,215901.771622,10.0
2139,0,0,2585.328372,777244598619414844738389845106157135322,309574227351200615371422895252255042,0,2585.328372,575350605560595522715979,2584.643110,2584.643110,...,DAI,WETH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
class BlockPosition:
    def __init__(self, starting_tick, block_size, block_spacing, block_amount):
        self.block_size = block_size
        self.block_spacing = block_spacing
        self.block_amount = block_amount
        self.k = (block_amount-1)/2
        self.center_tick = starting_tick
        self.next_pos_index = 1
        self.block_array = self.gen_block_array()
        
    def gen_block_array(self):
        block_array = collections.deque()
        first_tick = int(self.center_tick - self.k * self.block_spacing)
        for i in range(block_amount):
            curr_tick = int(first_tick + i*self.block_spacing)
            block_array.append({ 
                'index': self.next_pos_index,
                'lower_tick': curr_tick - int(self.block_size/2),
                'upper_tick': curr_tick - int(self.block_size/2) + self.block_size - 1
            })
            self.next_pos_index = self.next_pos_index + 1
        return block_array
    
    def shift_left(self):
        self.center_tick -= self.block_spacing
        prev_lower_tick = self.block_array[0]['lower_tick']
        prev_upper_tick = self.block_array[0]['upper_tick']
        
        self.block_array.appendleft({ 
            'index': self.next_pos_index,
            'lower_tick': prev_lower_tick - self.block_spacing,
            'upper_tick': prev_upper_tick - self.block_spacing
        })
        self.block_array.pop()

        self.next_pos_index += 1
 
    def shift_right(self):
        self.center_tick += self.block_spacing
        prev_lower_tick = self.block_array[-1]['lower_tick']
        prev_upper_tick = self.block_array[-1]['upper_tick']
        
        self.block_array.append({ 
            'index': self.next_pos_index,
            'lower_tick': prev_lower_tick + self.block_spacing,
            'upper_tick': prev_upper_tick + self.block_spacing
        })
        self.block_array.popleft()

        self.next_pos_index += 1




df_merged = df_merged.sort_values('periodStartUnix', ignore_index = True)

In [66]:
x = collections.deque()
x.append({"rer": 33})
print(x[0])

{'rer': 33}

In [188]:
def get_positions_fixed_strategy(df_merged, block_amount, block_size, block_spacing, shift_theta):

    pos = BlockPosition(df_merged.iloc[0]['tick'], block_size, block_spacing, block_amount)
    pos_array = []

    for index, row in df_merged.iterrows():

        curr_tick = row.tick
        # if(put_in_price_tick != 0):
        #     print(hourly_fee * put_in_price_tick/tvl_per_tick)
        optimized = False
        changed = False

        if(abs(pos.center_tick - curr_tick) > pos.block_amount * pos.block_spacing):
            pos.center_tick = curr_tick
            changed = True
            pos.block_array = pos.gen_block_array()
            print('shift')
        else:
            while(True):
                if(abs(pos.center_tick - curr_tick) >= shift_theta):
                    changed = True
                    if(pos.center_tick > curr_tick):
                        pos.shift_left()
                    else:
                        pos.shift_right()
                else:
                    break

        array_item = {}
        for idx, block in enumerate(pos.block_array):
            array_item['index_'+str(idx)] = block['index']
            array_item['lower_tick_'+str(idx)] = block['lower_tick']
            array_item['upper_tick_'+str(idx)] = block['upper_tick']
        array_item['periodStartUnix'] = row['periodStartUnix']
        pos_array.append(array_item)

    pos_df = pd.DataFrame(pos_array)

    return pos_df

# STEP 3 (TODO): Generate df_positions
df_positions = get_positions_fixed_strategy(df_merged, 5, 180, 180, 120)
df_positions

shift
shift
shift
shift

,index_0,lower_tick_0,upper_tick_0,index_1,lower_tick_1,upper_tick_1,index_2,lower_tick_2,upper_tick_2,index_3,lower_tick_3,upper_tick_3,index_4,lower_tick_4,upper_tick_4,periodStartUnix
0,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,1620158400
1,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,1620162000
2,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,1620165600
3,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,1620169200
4,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,6,-80784,-80605,7,-80604,-80425,1620172800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196,1627894800
2136,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196,1627898400
2137,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196,1627902000
2138,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196,1627905600
2139,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196,1627909200

In [57]:
df_merged['tick']

0      -81234
1      -81234
2      -81234
3      -81234
4      -80932
        ...
2135   -78612
2136   -78612
2137   -78592
2138   -78574
2139   -78581
Name: tick, Length: 2140, dtype: int64

In [42]:
df_merged['tick']

0      -81234
1      -81234
2      -81234
3      -81234
4      -80932
        ...
2135   -78612
2136   -78612
2137   -78592
2138   -78574
2139   -78581
Name: tick, Length: 2140, dtype: int64

In [92]:
# L_you calculation / inRange
# 4B. JNP: Use 'get_liquidity' function to calculate liquidity as a function of amounts and price range
def get_liquidity0(sqrtA,sqrtB,amount0,decimals):
    
    if (sqrtA > sqrtB):
          (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount0/((2**96*(sqrtB-sqrtA)/sqrtB/sqrtA)/10**decimals)
    return liquidity

def get_liquidity1(sqrtA,sqrtB,amount1,decimals):
    
    if (sqrtA > sqrtB):
        (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
    liquidity=amount1/((sqrtB-sqrtA)/2**96/10**decimals)
    return liquidity

def get_amounts(tick,tickA,tickB,targetAmount,decimal0,decimal1):
    
        sqrt=(1.0001**(tick/2)*(2**96))
        sqrtA=(1.0001**(tickA/2)*(2**96))
        sqrtB=(1.0001**(tickB/2)*(2**96))
        if (sqrtA > sqrtB):
            (sqrtA,sqrtB)=(sqrtB,sqrtA)
    
        if sqrt<=sqrtA:
            inRange = False
            return (targetAmount, 0), inRange
        elif sqrt<sqrtB and sqrt>sqrtA:

            liquidity0=get_liquidity0(sqrt,sqrtB,amount0,decimal0)
            liquidity1=get_liquidity1(sqrtA,sqrt,amount1,decimal1)
            
            liquidity=liquidity0 if liquidity0<liquidity1 else liquidity1
            inRange = True
            return liquidity, inRange
        
        else:
            inRange = False
            return (0, targetAmount), inRange

In [190]:
def convert_token0_to_1(tick, token1):
    P = 1.0001**tick
    return token1*P

print(convert_token0_to_1(-81241, 1000))
    
def get_amounts(targetAmount, tick, tick_lower, tick_upper):
    Pl = 1.0001**tick_lower
    P = 1.0001**tick
    Pu = 1.0001**tick_upper
    
    if P >= Pu:
        return (0, targetAmount)
    elif Pl <= P and P < Pu:
        deltaL = targetAmount / ((sqrt(P) - sqrt(Pl)) + (1 / sqrt(P) - 1 / sqrt(Pu)) * P)
        y = deltaL * (1 / sqrt(P) - 1 / sqrt(Pu))
        x = deltaL * (sqrt(P) - sqrt(Pl))
        return (y, x)
    elif Pl > P:
        return (targetAmount/P, 0)

get_amounts(convert_token0_to_1(-81244, 1000), -81237, -81242, -81238)

0.2964316697984161

(0, 0.2963427580804129)

In [187]:
df_positions

,index_0,lower_tick_0,upper_tick_0,index_1,lower_tick_1,upper_tick_1,index_2,lower_tick_2,upper_tick_2,index_3,lower_tick_3,upper_tick_3,index_4,lower_tick_4,upper_tick_4
0,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785
1,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785
2,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785
3,1,-81684,-81505,2,-81504,-81325,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785
4,3,-81324,-81145,4,-81144,-80965,5,-80964,-80785,6,-80784,-80605,7,-80604,-80425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2135,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196
2136,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196
2137,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196
2138,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196
2139,863,-79095,-78916,862,-78915,-78736,853,-78735,-78556,852,-78555,-78376,859,-78375,-78196

In [191]:
def calculate_pnl_from_positions(df_merged, df_positions):

    # TODO: re-calculate amount0 and amount1 to account for every swaps, not just deltas of that hour
    # use amount0_new and amount1_new instead of amountUSD, and get total accured fees in tokens
    # Swap_amountIn > so the fees is get from the (+) positive tokens
    # Therefore, fees you get is in 
    # Convert those tokens into value (convert using TODAY's value or mints's value?)
    
    
    merge_feat = ['periodStartUnix', 'tick','liquidity', 'amountUSD', 'amount0_p', 'amount1_p']
#     merge_feat = ['periodStartUnix', 'tick','liquidity', 'amountUSD', 'amount0_n', 'amount1_n']

    df_positions_fees = df_positions.merge(df_merged[merge_feat], how='left', on='periodStartUnix')
    df_positions_fees['liquidity'] = df_positions_fees['liquidity'].astype(float)

    df_positions_fees = df_positions_fees.reset_index() # cleaning it just in case
    for index, row in df_positions_fees.iterrows():
        row = row.copy()
        
        get_amounts(convert_token0_to_1(row['tick'], 1000), -81237, row['lower_tick_0'], row['upper_tick_0'])
            
        fees_0, fees_1 = get_fees(row['lower_tick_0'],row['upper_tick_0'],row['tick'],
                        float(row['liquidity']),row['amountUSD'],
                        row['amount0_p'], row['amount1_p'],
                        MINT_AMT0, MINT_AMT1, DECIMAL0, DECIMAL1, FEETIER, MINT_TICK)
        
       
#         fees_0, fees_1 = get_fees(row['lower_tick'],row['upper_tick'],row['tick'],
#                         float(row['liquidity']),row['amountUSD'],
#                         abs(row['amount0_n']), abs(row['amount1_n']),
#                         MINT_AMT0, MINT_AMT1, DECIMAL0, DECIMAL1, FEETIER, MINT_TICK)
        
        df_positions_fees.loc[index, 'fees_0'] = fees_0
        df_positions_fees.loc[index, 'fees_1'] = fees_1
        
    return df_positions_fees

# STEP 4 (TODO): Calculate Fees, IL and PNL at each hour, and append to df_positions
df_positions_fees = calculate_pnl_from_positions(df_merged, df_positions)

In [92]:
# STEP 5 (TODO): also accoutning for minting/burning/swaping costs into PNL

In [93]:
TOKEN0_TO_USD = 1
TOKEN1_TO_USD = 2331.7802

fees_token0 = df_positions_fees['fees_0'].sum()*TOKEN0_TO_USD
fees_token1 = df_positions_fees['fees_1'].sum()*TOKEN1_TO_USD
print(fees_token0+fees_token1)

63893.370392777724

In [94]:
df_positions_fees['fees_0'].sum()

30878.359036860285

In [95]:
df_positions_fees['fees_1'].sum()

14.158715026363739

In [96]:
df_merged[['txCount','swaps_txCount','amountUSD', 'amount0_p', 'amount1_p']].head(19)

    txCount  swaps_txCount     amountUSD     amount0_p    amount1_p
0        21            NaN           NaN           NaN          NaN
1        33           14.0  2.674987e+06  1.853959e+06   355.457852
2        58           31.0  7.960741e+06  4.321993e+06  1574.867926
3        36           24.0  3.867269e+06  3.866513e+06     3.223895
4        15            7.0  1.785534e+05  0.000000e+00    77.966318
5        34           22.0  3.745938e+06  0.000000e+00  1628.510724
6        33           22.0  1.719154e+06  1.522220e+04   736.410654
7        51           36.0  5.017910e+06  5.026098e+06     0.000000
8        29            9.0  8.742947e+05  0.000000e+00   381.005463
9        18            6.0  1.591868e+04  0.000000e+00     6.930991
10       31            7.0  8.950998e+04  0.000000e+00    38.967649
11       16            6.0  1.546460e+06  1.549109e+06     0.000000
12       45           36.0  2.802832e+06  2.358908e+06   196.449999
13       39           23.0  1.157186e+06  1.792076e+01   506.845487
14       30           18.0  1.789860e+06  1.792748e+06     0.000000
15       49           33.0  2.839934e+06  6.080571e+05   979.389885
16       61           48.0  3.599021e+06  7.101303e+05  1261.591916
17       43           33.0  7.164252e+06  4.025400e+06  1372.610743
18       36           30.0  3.656855e+06  1.130130e+06  1101.367711

In [ ]:
df_merged = pd.read_csv('../data/df_merged_DAI-WETH-3000-timestamp-1627466400-1620158400.csv')
watch_list = ['periodStartUnix',  
              'txCount', 'swaps_txCount', # check data integrity
              'amount0', 'amount1', 'amountUSD', # swaps data, note: amountUSD is sqrt(P)
              'tick', 'liquidity', 'sqrtPrice', 'tvlUSD', # pool data at that hour (liquidity is for the whole pool)
              'pool.token0.symbol', 'pool.token1.symbol', # token data
              'token0Price', 'token1Price'
             ]
# https://github.com/Uniswap/uniswap-v3-subgraph/blob/main/schema.graphql
df_merged[watch_list].sample(15)